<section class="bg-about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A few lines about myself...</h2>
                <hr class="primary text-center">
                <p class="text-faded-main-dark">I studied Economics at the University of Zurich (Zurich), Sciences Po (Paris), 
			Boğaziçi University (Istanbul) and Universitat Pompeu Fabra (Barcelona) as well as Food at the 
			University of Gastronomic Sciences (Pollenzo).</p>  
                <!--<h3 class="section-heading">I code and cook</h3>-->
		<p class="text-faded-main-dark">Equipped with enormous passion and fascination for data-driven investigations 
			with food related data (and beyond!), I pursue the vision to positively influence our planet and society 
			with my quantitative skills and comprehension of the current global food system.</p>
                <p class="text-faded-main-dark">My day starts with coffee. I am impressed and consequently a big fan of food and 
			beverages in which yeast strains or other bacteria have left their marks. Amongst those, bread is my favourite. 
			Cooking is something that brings me great joy and I like to share the experience by welcoming and hosting people in my home. 
			I am involved and buy my food at the <a href="https://foodcoop-zurgertrud.ch" target="_blank"><img src="/img/logo/tasche.png" style="cursor:pointer" width="20" height="25"></a> Foodcoop Zur Gertrud.  	
		<!--<h3 class="section-heading">I ride and run</h3>-->
		<p class="text-faded-main-dark">I like to be active outdoors by riding my bike and running on a daily basis. 
			In my free time I like to travel the world by means of bike-packing.</p>
                <p class="text-faded-main-dark">Please contact me should you like to see my full CV. 
			I am happy to share it with you via E-mail.</p>
     
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		    
		<style>
		.myimgdivtoggle {
		display:none;
		}
		</style>
		<script>
			$(document).ready(function(){
			$('.togglebtn').click(function(){
   			$('.myimgdivtoggle').slideToggle();
		});
		});
		</script>
                
                
                <div class="myimgdivtoggle">
	            <img src="img/square.png" alt="Display image on button click" width="200" height="200" style="cursor:default;" class="img-responsive img-thumbnail rounded"/>
                </div>
		    
                <button type="button" class="togglebtn btn btn-primary btn-xl page-scroll">Unravel me</button>

            </div>
        </div>
    </div>
</section>
