<section class="bg-about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A few lines about myself...</h2>
                <hr class="primary text-center">
                
                <script>
                    function showImg() {
                        document.getElementById("map_img").style.display = "";
                    }
                </script>

                <img id="map_img" src="img/square.png" style="display: none;" width="200" height="200"/>
                <input clas="btn btn-primary btn-xl page-scroll" type="submit" id="Map" value="Visualize me" onclick="showImg()"/>
                <!--<img src="img/square.png" width="200" height="200" style="cursor:default;" alt="Me!">-->
                <p></p>
                <p class="text-faded-main-dark">I studied Economics at the University of Zurich in Switzerland and Food at the University of Gastronomic Sciences in Pollenzo, Italy.</p>  
                <p class="text-faded-main-dark">Equipped with enormous passion and fascination for data-driven investigations with food related data (and beyond!), I pursue the vision to positively influence our planet and society with my quantitative skills and comprehension of the current global food system.</p>
                <p class="text-faded-main-dark">My day starts with coffee. I am impressed and consequently a big fan of food and beverages in which yeast strains or other bacteria have left their marks. Amongst those, bread is my favourite. Cooking is something that brings me great joy and I like to share the experience by welcoming and hosting people in my home. I like to learn new things.</p>
                <p class="text-faded-main-dark">Alternatively, I like to be active outdoors by riding my bike and running on a daily basis. In my free time I like to travel the world by means of bike-packing.</p>
                <p class="text-faded-main-dark">Please contact me should you like to see my full CV. I am happy to share it with you via E-mail.</p>
            </div>
        </div>
    </div>
</section>
