<section id="about"> <!--class="bg-primary"-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wer wir sind</h2>
                <hr class="primary">
                <video width="700" controls>
                    <source src="https://media.giphy.com/media/5eFuMX4OgYWaAvdzdu/giphy.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML video.
                </video>
                <p></p>
                <a href="#process" class="btn btn-primary btn-xl page-scroll">Mach mit!</a>
            </div>
        </div>
    </div>
</section>
