<section id="about"> <!--class="bg-primary"-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wer wir sind</h2>
                <hr class="primary">
                <p class="primary">Der Verein «FoodCoop Zur Gertrud» versteht sich als Zusammenschluss von Personen im Zürcher Kreis 3 als Einkaufsgemeinschaft zum gemeinsamen Bezug von Lebensmitteln.
                    </p>
                <p class="primary">Das Depot befindet sich an der Kreuzung ZURlindenstrasse x GERTRUDstrasse, woraus sich der Vereinsname ableitet.
                    </p>
                <p class="primary">Der Verein beabsichtigt beim gemeinschaftlichen Einkauf von Lebensmittel folgende Zwecke:
                    <li class="primary">Förderung ökologischen Lebensmittelanbaus.</li>
                    <li class="primary">Förderung fairer Arbeitsbedingungen und fairen Handels.</li>
                    <li class="primary">Förderung regionaler Landwirtschaft und kurzer, direkter Transportwege.</li>
                    <li class="primary">Präsenz im Kreis 3, mit dem Ziel das nachbarschaftliche Zusammenleben zu bereichern.</li>
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Mach mit!</a>
            </div>
        </div>
    </div>
</section>
