<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Über den Verein</h2>
                <hr class="light">
                <p class="text-faded">Der Verein «FoodCoop Zur Gertrud» versteht sich als Zusammenschluss von Personen im Zürcher Kreis 3 als Einkaufsgemeinschaft zum gemeinsamen Bezug von Lebensmitteln. Das Depot befindet sich an der Kreuzung ZURlindenstrasse x GERTRUDstrasse, woraus sich der Vereinsname ableitet.
                   Der Verein verfolgt beim gemeinschaftlichen Einkauf von Lebensmittel folgende ideellen Zwecke:
                    <i class="text-faded">Förderung ökologischen Lebensmittelanbaus.</i>
                    <i class="text-faded">Förderung fairer Arbeitsbedingungen und fairen Handels.</i>
                    <i class="text-faded">Förderung regionaler Landwirtschaft und kurzer, direkter Transportwege.</i>
                    <i class="text-faded">Präsenz im Kreis 3, mit dem Ziel das nachbarschaftliche Zusammenleben zu bereichern.</i>
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Mach mit!</a>
            </div>
        </div>
    </div>
</section>
