<section id="contact" class="bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kontaktiere uns!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>Mach mit!</h3>
                    <p class="text-muted">Melde dich an, werde Vereinsmitglied und bestelle mit.</p>

<button onclick="document.getElementById('id01').style.display='block'" class="btn btn-primary btn-xl page-scroll" style="width:auto;">Anmeldung</button>

<div id="id01" class="modal">
  <!--
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  -->
  <form class="modal-content" method="POST" action="https://formspree.io/lucca.zachmann@gmail.com">
    <div class="container">
      <h1>Anmeldung</h1>
      <p>Fülle bitte das Anmeldeformular aus. Danke.</p>
      <hr>
      <label for="name"><b>Vor- und Nachname</b></label>
      <input type="text" placeholder="Dein Name" name="name" required>

      <label for="address"><b>Adresse</b></label>
      <input type="text" placeholder="Deine Adresse" name="address" required>

      <label for="email"><b>E-Mail</b></label>
      <input type="text" placeholder="Deine E-Mail" name="_replyto" required>

      <p>Durch die Anmeldung annerkennst du unsere <a href="#" style="color:dodgerblue">AGB</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Abbrechen</button>
        <button type="submit" class="signupbtn">Anmelden</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
                </div>
            </div>
           <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>Hast du Fragen?</h3>
                    <p class="text-muted">Schreibe uns eine E-Mail. Wir freuen uns von dir zu lesen.</p>
                </div>
               <button onclick="location.href='mailto:yet2come@foodcoopzurgertrud.ch';" class="btn btn-primary btn-xl page-scroll" style="width:auto;">E-Mail</button>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>Clone the concept</h3>
                    <p class="text-muted">Wenn du deine eigene Bestellgemeinschaft in deinem Quartier aufziehen möchtest teilen wir gerne unsere Erfahrungen.</p>
                </div>
            </div>
        </div>
    </div>    
    <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://gmail.us18.list-manage.com/subscribe/post?u=8a3d99368ca8780fb9243128c&amp;id=011bc3848d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Newsletter abonnieren</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8a3d99368ca8780fb9243128c_011bc3848d" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
</section>
