<section class="bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">Let's Get In Touch!</h2>
                <hr class="primary text-center">
                    <div class="text-primary-align">
                        <p>Please get in touch, either for a ride, run, coffee, idea, feedback, question or anything else. I am very much looking forward to hearing from you!</p>
                    </div>
            </div>
            
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"></h2>
            <p></p>
        </div>
            
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.strava.com/athletes/12340304">
            <i class="fab fa-strava fa-2x wow bounceIn"><img src="https://img.icons8.com/windows/64/000000/strava.png"/></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-2x wow bounceIn" data-wow-delay=".2s"></i>
            </a>
        </div>

    </div>
</section>
