<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p style="margin-bottom:1.75cm;"></p>
            <div id="quote"></div>
            <script>
            (function() {
            var quotes = [
            {
            text: "Paul"
            },
            {
            text: "Manuela",
            }
            ];
            var quote = quotes[Math.floor(Math.random() * quotes.length)];
            document.getElementById("quote").innerHTML =
            '<h1>Welcome, dear <a href="" title="Info">' + quote.text + '</a>!</h1>';
            })();
            </script>
            <hr style="border:3px solid $theme-primary;">
            <p>Please find on my website materials of some of my recent projects.</p>
            
        </div>
    </div>
    
</header>
