<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p style="margin-bottom:1.75cm;"></p>
            <h1>Welcome, dear visitor!</h1>
            <hr style="border:3px solid $theme-primary;">
            <p>Please find on my website materials of some of my recent projects.</p>
            <div style="text-align:center;">
                <script type="text/javascript" src="http://services.webestools.com/cpt_visitors/66765-1-1.js">
                </script>
            </div>
            <a style="display:block;text-align:center;">
            </a>
        </div>
    </div>
    
</header>
