<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p style="margin-bottom:1.75cm;"></p>
            <h1>Welcome, dear visitor!</h1>
            <hr style="border:3px solid $theme-primary;">
            <p>Please find on my website materials of some of my recent projects.</p>
            
            <div id="quote"></div>
            <script>
            (function() {
            var quotes = [
            {
            text: "text1",
            img:  "http://i.stack.imgur.com/FqBE6.jpg?s=32&g=1"
            },
            {
            text: "text2",
            img:  "https://www.gravatar.com/avatar/ca3e484c121268e4c8302616b2395eb9?s=32&d=identicon&r=PG",
            }
            ];
            var quote = quotes[Math.floor(Math.random() * quotes.length)];
            document.getElementById("quote").innerHTML =
            '<h1>'Welcome, dear + quote.text + '</h1>';
            })();
            </script>
            
        </div>
    </div>
    
</header>
