<section id="login">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 text-center">
                <h2 class="section-heading">Login</h2>
                <hr class="primary">
                 <p class="text-muted">Registrierte Vereinsmitglieder können sich hier in die FoodSoft Bestellsoftware einloggen.</p>
                <button onclick="location.href='https://gertrudstrasse.foodcoop-comedor.ch/f/sessions';" formtarget="_blank" class="btn btn-primary btn-xl page-scroll" style="width:auto;">FoodSoft Login</button>
            </div>
        </div>
    </div>     
</section>
