<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Login</h3>
                <p class="text-muted">Registrierte Vereinsmitglieder können sich hier in die FoodSoft Bestellsoftware einloggen.</p>
                <button onclick="location.href='https://foodsoft.foodcoop-comedor.ch/f/login';" target="_blank" class="btn btn-primary btn-xl page-scroll" style="width:auto;">FoodSoft Login</button>
                <hr class="primary">
            </div>
        </div>
    </div>     
</section>
