<section id="portfolio"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ausgewählte Produkte</h2>
                <hr class="primary">
                <button onclick="location.href='../sortiment.html';" class="btn btn-primary btn-xl page-scroll" style="width:auto;">Sortiment</button>
                <p style="margin-bottom:1cm;"></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/kaffee.jpg" class="img-responsive" alt="" width="768px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Kaffee
                            </div>
                            <div class="project-name">
                                Kaffee SIDAMO Äthiopien bio/fair (gemahlen)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/aceto.png" class="img-responsive" alt="" width="768px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Öl und Essig
                            </div>
                            <div class="project-name">
                                Bio-Aceto Balsamico di Modena IGP "SUPERIORE"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/rigatoni.jpg" class="img-responsive" alt="" width="768px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Pasta
                            </div>
                            <div class="project-name">
                                Bio-Rigatoni von Sozialkooperative Libera Terra
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/funky_tomato.jpg" class="img-responsive" alt="" width="768px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Konserven
                            </div>
                            <div class="project-name">
                                Funky Tomato Pelato in Salsa 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/schokolade.png" class="img-responsive" alt="" width="768px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Anderes
                            </div>
                            <div class="project-name">
                                Bio Zartbitter Schokolade (60%)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/soya_drink.png" class="img-responsive" alt="" width="768px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Milch et al.
                            </div>
                            <div class="project-name">
                                Soyana Bio Swiss Soya Drink Original
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-12 text-center">
                <p style="margin-bottom:1cm;"></p>
                <label for="exampleTextarea">
                        <h3 class="section-heading">Dein Lieblingsprodukt</h3> 
                </label>
            <form class="modal-content" method="POST" action="https://formspree.io/info@foodcoop-zurgertrud.ch">
                <div class="container">
                    <textarea class="form-control" id="exampleTextarea" rows="1" name="Gewünschtes Produkt" required></textarea>
                    <small id="exampleTextarea" class="form-text text-muted">Teile uns dein Lieblingsprodukt mit und wir geben unser Bestes um es bald im Sortiment zu haben.</small>
                    <div class="clearfix">
                        <button type="submit" class="btn btn-primary btn-xl page-scroll">Senden</button>
                    </div>
                </div>
                </div>
            </form>
            </div>
            
        </div>
    </div>
</section>
