<section id="process" class="bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wie wir funktionieren</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fas-4x fa-pen wow bounceIn text-primary"></i>
                    <h3>Anmeldung</h3>
                    <p class="text-muted">Werde für 15 CHF/Jahr Vereinsmitglied.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Konto</h3>
                    <p class="text-muted">Erhalte unkomplizierten Zugriff auf die FoodSoft Bestellsoftware.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bars wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Bestellung</h3>
                    <p class="text-muted">Bestelle selbständig 3-4 Mal pro Jahr.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cart-plus wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Abholung</h3>
                    <p class="text-muted">Hole deine Produkte unkompliziert im Vereinsdepot ab.</p>
                </div>
            </div>
        </div>
    </div>
</section>
