<section id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <hr class="primary">
                <p style="color:#1E2460;">Click the logos. Contact me for code.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-4 col-md-6 text-center"> -->
            <div class="col-6 text-center">
                <div class="service-box">
                    <a class="fa fa-4x wow bounceIn text-primary" href="https://portal.cepr.org/discussion-paper/16243" target="_blank"><img title="CEPR" alt="CEPR" src="img/logo/cepr.png" style="cursor:pointer;" width="175" height="60"></a>
                    <h3 style="color:#1E2460;">The effect of self-financed property buyers on local house prices</h3>
                    <p class="text-muted" style="color:#1E2460;">CEPR Discussion Paper Series (2020)</p>
                    <p style="margin-bottom:1cm;"></p>
                </div>
            </div>    
            <div class="col text-center">
                <div class="service-box">
                    <a class="fa fa-4x wow bounceIn text-primary" href="https://link.springer.com/article/10.1007/s10797-019-09541-0" data-wow-delay=".1s" target="_blank"><img title="Springer" alt="Springer" src="img/logo/springer.png" style="cursor:pointer;" width="280" height="60"></a>
                    <h3 style="color:#1E2460;">Do the rich pay their taxes early?</h3>
                    <p class="text-muted" style="color:#1E2460;">International Tax and Public Finance (2019)</p>
                    <p style="margin-bottom:0.25cm;"></p>
                    <p class="text-muted"><a href="https://www.nzz.ch/wirtschaft/reiche-leute-zahlen-ihre-steuern-frueher-ld.1405075" target="_blank">Neue Zürcher Zeitung</a></p>
                    <p class="text-muted"><a href="https://www.luzernerzeitung.ch/wirtschaft/reiche-profitieren-von-fruhen-steuerzahlungen-ld.1041357" target="_blank">Luzerner Zeitung</a></p>
                    <p class="text-muted"><a href="https://www.tagblatt.ch/wirtschaft/reiche-profitieren-von-fruhen-steuerzahlungen-ld.1041357" target="_blank">Tagblatt</a></p>
                    <p style="margin-bottom:1cm;"></p>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="service-box">
                    <a class="fa fa-4x wow bounceIn text-primary" href="https://www.econ.uzh.ch/en/people/faculty/zweimueller/projects/ig/papers.html" data-wow-delay=".2s" target="_blank"><img title="University of Zurich" alt="University of Zurich" src="img/logo/uzh.png" style="cursor:pointer;" width="180" height="60"></a>
                    <h3 style="color:#1E2460;">The determinants and consequences of the labour market integration of refugees in Switzerland</h3>
                    <p class="text-muted" style="color:#1E2460;">Inequality and Globalization (2016)</p> 
                </div> 
            </div>
        </div>
    </div>
</section>
