<section id="teaching">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teaching</h2>
                <hr class="primary">
                <p style="color:#1E2460;">Click the logos.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 text-center">
                <div class="service-box">
                    <a href="../unifr.html" class="portfolio-box">
                        <img src="img/logo/unifr.png" style="cursor:pointer;" width="280" height="60" class="img-responsive" alt="University of Fribourg">
                    </a>
                    <h3 style="color:#1E2460;">Computer-based experimenting/Programming in Python</h3>
                    <p class="text-muted" style="color:#1E2460;">University of Fribourg</p>
                    <p class="text-muted" style="color:#1E2460;">March 2020</p>
                </div>
            </div>    
        </div>
    </div>  
</section>
