<section id="we"> <!--class="bg-primary"-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wir über uns</h2>
                <hr class="primary">
                <p align=left>Der Verein «FoodCoop Zur Gertrud» versteht sich als Zusammenschluss von Personen im Zürcher Sihlfeld zum gemeinsamen Bezug von Lebensmitteln. Wir umgehen den Zwischenhandel und bieten Lebensmittel zum Selbstkostenpreis an.
                    </p>
                <p align=left>Der Verein beabsichtigt beim gemeinschaftlichen Einkauf von Lebensmittel ökologischer Lebensmittelanbau zu fördern,
                    faire Arbeitsbedingungen und gerechter Handel zu unterstützten, sowie Produkte aus regionaler Landwirtschaft mit kurzen und direkten Transportwege zu favorisieren.
                    Der Verein verfolgt zudem das Ziel, mit seiner Präsenz im Quartier das nachbarschaftliche Zusammenleben zu bereichern.
                </p>
                <p align=left>Das Depot der Einkaufsgemeinschaft befindet sich an der Kreuzung ZURlindenstrasse x GERTRUDstrasse, woraus sich der Vereinsname ableitet. Wir engagieren uns ehrenamtlich.
                    </p>
            </div>
        </div>
    </div>
                
                
   <div class="container"> 
       <div class="row">
           <div class="col-md-2">
                <img class="container image" src="img/PinClipart.com_pregnant-woman-silhouette-clip_3654994.png">
                <p style="font-weight: bold;text-align: center;">Nuria</p> 
                <div class="middle">
                    <div class="text">Administration</div>
                    <div class="text1">Brot</div>
                </div>
           </div>
           <div class="col-md-2" >
                <img class="img-responsive" src="img/kisspng-silhouette-man-shadow-homo-sapiens-clip-art-figura-humana-5b47cef5cdeac4.5627853315314326938435.png">
                <p style="font-weight: bold;text-align: center;">Lobo</p>
           </div>
           <div class="col-md-2" >
                <img class="container image" src="img/PinClipart.com_pregnant-woman-silhouette-clip_3654994.png">
                <p style="font-weight: bold;text-align: center;">Giulia</p> 
                <div class="middle">
                    <div class="text">Kommunikation</div>
                    <div class="text1">Wein</div>
                </div>
           </div>
           <div class="col-md-2" >
                <img class="img-responsive" src="img/kisspng-silhouette-man-shadow-homo-sapiens-clip-art-figura-humana-5b47cef5cdeac4.5627853315314326938435.png">
                <p style="font-weight: bold;text-align: center;">Beni</p>
           </div>
           <div class="col-md-2" >
                <img class="img-responsive" src="img/kisspng-silhouette-man-shadow-homo-sapiens-clip-art-figura-humana-5b47cef5cdeac4.5627853315314326938435.png">
                <p style="font-weight: bold;text-align: center;">Lucca</p>
           </div>
           <div class="col-md-2" >
                <img class="img-responsive" src="img/kisspng-silhouette-man-shadow-homo-sapiens-clip-art-figura-humana-5b47cef5cdeac4.5627853315314326938435.png">
                <p style="font-weight: bold;text-align: center;">David</p>
           </div>      
        </div>
    </div>
</section>
