<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include publications.html %}
  {% include portfolio.html %}
  {% include teaching.html %}
  {% include about.html %}
  {% include contact.html %}
  <p style="position:absolute; bottom:0; right:0; margin-right: 20px; color: #1E2460; font-size: 14px;">&#169; 2021 LAZ. <a href="https://github.com/luccalino/luccalino.github.io">Source code.</a></p>
  {% include scripts.html %}
</body>

</html>
